input {
  padding: 12px 20px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 25%;
}
button {
  background-color: #04aa6d;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  width: 20%;
}
button:hover {
  opacity: 0.8;
}
